* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefae0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    background-color: #faedcd;
    color: black;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

form {
    text-align: center;
}

input {
    height: 25px;
    width: 250px;
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: #d4a373;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
}

.submit-history-card {
    padding: 20px;
    text-align: center;
}





